<html>
	<head>
    <title>Thank you</title>
    <h1>Thank you for your purchase!</h1>
  </head>
  <body>
		Amount Charged: $<%="%.2f" % subtotal.to_f%>
		<br />
		Charge ID: <%=charge_id%>
	</body>
</html>